.monthSwitch {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.switchBtn {
  width: 15px;
  height: 25px;
  border: none;
  background-image: url(../../images/arrowLeft.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.right {
  transform: rotate(180deg);
}

.month {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.year {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  display: block;
  width: 100%;
  text-align: center;
}